#langButton {
    align-content: center;
    border: none;
    outline: none;
    background-color: #55198b;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
}
#langButton:hover {
    background-color: #ffffff;
    color: #55198b;
    transition: ease-in 0.3s;
}