#langButton {
    align-content: center;
    border: none;
    outline: none;
    background-color: #5FDECB;
    color: white;
    cursor: pointer;
    padding: 2px;
    border-radius: 10px;
    font-size: 20px;
}
#langButton:hover {
    background-color: #ffffff;
    color: #5FDECB;
    transition: ease-in 0.3s;
}
.botao {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
  }