
.academic-main-div {
    display: flex;
}
.academic-text-div {
  margin-left: 50px;
}

.academic-main-div > * {
  flex: 1;
  margin-bottom: 20px;
}

.academic-image-div > img {
  max-width: 100%;
  height: auto;
}

.academic-heading {
  font-size: 56px;
  font-weight: 400;
}

.academic-card-div{
  width: 35%;
  height: auto;
  padding: 10px 3em 0 2em;
  display: flex;
  float: left;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* Media Query */
@media (max-width: 1380px) {
  .academic-heading {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .academic-heading {
    font-size: 30px;
    text-align: center;
  }
  .greeting-text-p {
    font-size: 16px;
    line-height: normal;
  }
  .academic-main-div {
    flex-direction: column
  }
  .academic-text-div {
    margin-left: 0px;
    margin: 20px;
  }
  .academic-text {
    font-size: 16px;
  }
  .academic-text-subtitle {
    font-size: 16px;
    text-align: center;
  }
  .academic-image-div {
    /* display: none; */
    order: 2;
  }
}