  /* Rectangle Card Layout */
  .rectangle {
    display: center;
    justify-content: center;
    height: flex;
    width: flex;
    border-radius: 4px;
    box-shadow: 0px 20px 50px #d9dbdf;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .rectangle:hover {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
  }

  /* Card  Styling */
  .experience-card-job_title {
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
  }

  .experience-card-title{
    display: flex;
    justify-content: center;
  }
    /* Card  Styling */
    .experience-card-job_date {
      font-size: 14px;
      display: flex;
      justify-content: center;
    }
    .experience-card-description-div{
      text-align: center;
    }
    .experience-card-description{
      text-align: center;
    }
