$titleColor         : #000000;
$textColor          : #000000;
$subTitle           : #a0a0a0;

$mainColor          : #5FDECB;

$logoName           : #5FDECB;
$headerHover        : #f4f4f4;

$button             : #5FDECB;
$buttonHover        : #f4f4f4;
$backgroundColor    : #333;
$headerUl           : #fff;
$headerGrey         : #868e96;
