$titleColor: #000000;
$textColor: #000000;

$logoName: #5FDECB;
$headerHover: #f4f4f4;
$backgroundColor: #333;
$headerUl: #fff;
$headerGrey: #868e96;


$lightBorder1: rgba(211, 211, 211, 0.397);
$educationCardBorder: #5FDECB;


$lightBoxShadowDarker: rgba(0, 0, 0, 0.3);
